
$rich-black-fogra-29: #04080fff;
$glaucous: #507dbcff;
$baby-blue-eyes: #a1c6eaff;
$beau-blue: #bbd1eaff;
$gainsboro: #dae3e5ff;
$gradient-radial: radial-gradient(#04080fff, #507dbcff, #a1c6eaff, #bbd1eaff, #dae3e5ff);