@import "colors";

.home{
    width: 90%;
    margin: auto;
    height: 100ch;
    padding: 4em;
}

.blog-preview{
    padding: 1.5em;

    h2{
        color: $glaucous;
    }

    &:hover{
        box-shadow: 1px 3px 5px $beau-blue;
    }
}