@import "colors";

.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    height: 5em;
    margin: auto;
    border-bottom: 1px outset;

    .logo{
        margin: 4em;
        a{
            text-decoration: none;
            color: $glaucous;
            font-weight: bold;
            font-size: 1.3em;
        }
    }
    .navlinks{
        display: flex;
        list-style-type: none;

        a{  
            color: $baby-blue-eyes;
            font-weight: bold;
            text-decoration: none;
            margin: 4em;
        }
    }
}